.flex-container {
    display: flex;
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left;
}

.table-full-width {
    width: 100%;
}

.bck-color-light-blue {
    background-color: #EAF0F0;
}

.bck-color-white {
    background-color: #FFFFFF;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.red-chip {
    margin-left: 5px;
    border-bottom: 2px solid red;
    background-color: #E0E0E0;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.green-chip {
    margin-left: 5px;
    border-bottom: 2px solid green;
    background-color: #E0E0E0;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.product-tile {
    margin: 10px;
    border-radius: 10px;
    background-image: url('./assets/images/computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 150px;
    position: relative;
}

.layer {
    background-color: rgb(255,192,203, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.product-title {
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center
}

/* Padding and Margin Classes */
.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.m-1 {
    margin: 10px
}
